<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   TuneIn

   Created by The Family on 11/2/22.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>spotify</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.CMU.TuneIn</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>spotify-ios-quick-start</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
